{% extends "base.html" %}

{% block content %}

<section class="section">
  <div class="container">

    <div class="columns is-mobile is-centered">
    <div class="column is-one-third">

    <form class="box" action="/changePasswd" method="post">
        <div class="field">
          <label class="label"><i class="fas fa-key"></i>&nbsp; Contraseña Actual:</label>
          <div class="control">
            <input class="input" type="password" name="passwdCurrent" id="passwdCurrent" />
          </div>
        </div>
      
        <div class="field">
          <label class="label"><i class="fas fa-lock"></i>&nbsp; Contraseña Nueva:</label>
          <div class="control">
            <input class="input" type="password" name="password" id="password" />
          </div>
        </div>

        <div class="field">
            <label class="label"><i class="fas fa-lock"></i>&nbsp; Repetir Contraseña Nueva:</label>
            <div class="control">
              <input class="input" type="password" name="retypePasswd" id="retypePasswd" />
            </div>
        </div>
        
        <div class="buttons is-centered">
           <button class="button are-medium is-primary"><i class="fas fa-cloud-upload-alt"></i>&nbsp; Guardar</button>
        </div>

      </form>

    </div>
</div>

</div>
</section>

{% endblock %}