{% extends "base.html" %}

{% block content %}

    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">
                Añadir Producto
            </h1>
            <form action="/producto/create" method="post" enctype="multipart/form-data">
                <div class="field">
                    <label for="" class="label">Codigo (*)</label>
                    <div>
                        <input class="input" name="codigo" type="text" placeholder="Codigo...">
                    </div>
                </div>

                <div>
                    <label for="" class="label">Nombre (*)</label>
                    <div>
                        <input class="input" name="nombre" type="text" placeholder="Nombre...">
                    </div>
                </div>

                <div>
                    <label for="" class="label">Descripcion</label>
                    <div>
                        <textarea class="textarea" maxlength="1024" name="descripcion" placeholder="Descripcion..."></textarea>

                    </div>
                </div>

                <div>
                    <label for="" class="label">Precio (*)</label>
                    <div>
                        <input class="input" name="precio" type="text" placeholder="Precio...">
                    </div>
                </div>

                <div>
                    <label for="" class="label">Cantidad (*)</label>
                    <div>
                        <input class="input" name="cantidad" type="number" placeholder="Cantidad...">
                    </div>
                </div>
                <br>

                <div class="columns row-one">
                    <div class="column">
                      <div class="control has-icons-left">    
                          <div class="file is-link">
                            <label class="file-label">
                              <input type="file" class="file-input" id="imagen" name="imagen" accept="image/*" />
                                <span class="file-cta">
                                  <span class="file-icon"><i class="fa fa-upload"></i></span>
                                    <span class="file-label">
                                      Subir Imagen
                                    </span>
                                </span>
                                <span style="visibility: hidden;" class="file-name"></span>
                            </label>
                        </div>
                      </div>
                      <label style="font-size: 0.8rem !important;color: #485fc7 !important;" class="label" id="maxFile">Maximo 100 KB <span style="font-size: 0.9rem !important;color: #f14668 !important;" id="sizeImageUpload"></span> </label>
                    </div>
                  </div> 

                <br>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-success">Enviar</button>
                    </div>
                    <div class="control">
                        <button type="button" onclick="javascript:location.href='/';" class="button is-danger is-light">Cancelar</button>
                    </div>
                </div>

            </form>
        </div>
    </section>

{% endblock %}