{% extends "base.html" %}

{% block content %}

<section class="section">
<div class="container">

<div class="columns">
    <div class="column">
        
        <div class="notification is-link">
            Comentario guardado. <br>
            Por favor dar clic en este botón <button type="button" onclick="javascript:location.href='/';" class="button is-success is-small">Ver Productos</button> para volver a la lista de productos.
          </div>  

    </div>  
  </div>   
  
</div>
</section>

{% endblock %}